body{
	background-color: white;
}
.logo{
	text-align: center;

}
.logo img{
	width: 10%;
}
.nine{
	text-align: center;
	width: 50%;
}
.nine img{
	width: 30.3%;
}
nav{
	text-align: center;
	background-image: url(logo.png);
	padding: 20px;
}
nav a{
	text-decoration: none;
	padding-right: 30px;
	padding-left: 30px;
	color: whitesmoke;
}color: black;
.h1{
	text-align: center;
	font-size: 250%;
	color: forestgreen;
}
.h3{
	text-align: center;
	font-size: 150%;
	color: forestgreen;
}
.info{
	text-align: center;
	font-size: 150%;
}
section{
	font-size: 150%;
}
footer{
	font-weight: bold;
	text-align: center;
	background-color: dodgerblue;
	padding: 20px;
	tab-size: 130%;
}
.ten{
	width: 50%;
	font-size: 120%;
}
.vid{
	padding-left: 230px;
	width: 800px;
	height: 500px;
}
.sud{
	padding-left: 480px;
}
.nine{
	padding-left: 320px;
	width: 600px;
	height: 300px
}